{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title%}

{% block content %}
    <h1>This is the home page</h1>
    <img class="bookcover" src="{% static 'pages/images/1984.webp' %}">
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}</p>
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
{% endblock content%}